---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Python from "./icons/Python.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  PYTHON: {
    name: "Python",
    class: "bg-white text-white",
    icon: Python,
  },
}
const PROJECTS = [
  {
    title: "Banking App",
    description:
      "Este es un sitio web en CONSTRUCCIÓN para consultas y operaciones bancarias. Construido con Next, React y TailwindCSS. Utiliza Appwrite para el backend, Plaid y Dwolla para las conexiones entre bancos.",
    link: "https://www.dropbox.com/scl/fi/6jx0r9a97osu8cewvyzmf/bankingApp.png?rlkey=qpuzbr6v9hxg233y8r8sas21a&st=19jlvxga&dl=0",
    github: "https://github.com/Maxi-echaide/Banking-App",
    image: "/projects/bankingApp.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Gamehub - Video games info",
    description:
      "Este es un sitio web que utiliza una API para obtener datos de videojuegos. Permite a los usuarios buscar videojuegos, consultar calificaciones y aplicar filtros. Construido con React y TypeScript.",
    link: "https://game-hub-master-zeta.vercel.app/",
    github: "https://github.com/Maxi-echaide/game-hub-master",
    image: "/projects/gamehub.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Brainwave - Landing page",
    description:
      "Una landing Page con un estilo moderno. Construida con React y Tailwind CSS.",
    link: "https://brainwave-app-landing-page.vercel.app/#hero",
    github: "https://github.com/Maxi-echaide/brainwave-app--landing-page-",
    image: "/projects/brainwave.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="experience" class="object-cover object-top w-full h-56 transition duration-500 sm:h-56 md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



